.content_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    height: 1000px;
    width: 100%;
    background: black;
    padding: 0;
}

.content_info {
    width: 50%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2rem;
}

.content {
    width: 60%;
}

.content_info h3 {
    font-size: 2.5rem;
}

.content_info p {
    font-size: 1.5rem;
}

.content_table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    width: 40%;
    height: 1000px;
}

.table_title {
    font-size: 2.5rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .content_container {
        padding: 0;
        flex-direction: column;
        height: 2000px;
    }

    .content_info {
        width: 100%;
        height: 800px;
    }

    .content {
        width: 70%;
    }

    .content_table {
        align-items: center;
        text-align: center;
        width: 100%;
        height: 850px;
        padding-top: 8rem;
    }

    .content_table h1 {
        font-size: 2.5rem;
    }

    .content_table p {
        font-size: 1.5rem;
    }

    .table_title {
        font-size: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .content_container {
        height: 1800px;
    }

    .content_info {
        height: 1000px;
    }

    .content_info h3 {
        font-size: 2rem;
    }

    .content_info p {
        font-size: 1rem;
    }

    .content_table h1 {
        font-size: 1.5rem;
    }

    .table_title {
        font-size: 2rem;
    }

    .content_table {
        padding-top: 0;
    }
}