.frontpage_container {
    background: black;
    height: 1100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.front-image_container {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 2rem;
    flex-direction: column;
    align-items: center;
}

.front_image {
    height: 350px;
    padding-bottom: 50px;
    border-radius: 2rem;
}

.text_image {
    aspect-ratio: 7/1;
    width: 50%;
}

.front-content_container {
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
}

.front-content_container h1 {
    font-size: 5rem;
    margin: 0;
    padding-bottom: 1rem;
}

.front-content_container h2 {
    font-size: 2rem;
    margin: 0;
    padding-bottom: 1rem;
}

.front-btn_container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.black_btn {
    background: black;
    outline: white;
    color: white;
    margin-right: 3%;
    height: 100px;
    width: 400px;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid white;
    font-family: 'Kanit', sans-serif;
}

.white_btn {
    background: rgba(191, 0, 0);
    color: black;
    margin-left: 3%;
    height: 100px;
    width: 400px;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0 0 25px rgba(191, 0, 0);
    border: 2px solid rgba(191, 0, 0);
    font-family: 'Kanit', sans-serif;
}

.black_btn:hover {
    cursor: pointer;
}

.white_btn:hover {
    cursor: pointer;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .black_btn {
        width: 300px;
        font-size: 1.2rem;
    }

    .white_btn {
        width: 300px;
        font-size: 1.2rem;
    }

    .front-btn_container {
        padding-top: 1rem;
    }
    
    .text_image {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .front-image_container {
        height: 300px;
        padding-top: 2rem;
        justify-content: center;
        align-items: center;
    }

    .front_image {
        height: 250px;
        border-radius: 2rem;
    }

    .front-content_container {
        height: 150px;
        text-align: center;
    }

    .front-content_container h1 {
        font-size: 3rem;
        margin: 1rem;
    }
    
    .front-content_container h2 {
        font-size: 1.5rem;
        margin: 0;
    }

    .front-btn_container {
        height: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .black_btn {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .white_btn {
        margin-left: 0;
        margin-top: 1rem;
    }

    .text_image {
        width: 80%;
    }
}